<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="musicBean"
          class="org.kogutenko.crud_rest.model.ClassicalMusic">
    </bean>

    <bean id="musicPlayerWithConstructor"
          class="org.kogutenko.crud_rest.model.MusicPlayer">
        <constructor-arg ref="musicBean"/>
    </bean>

    <bean id="musicPlayerWithSetter"
          class="org.kogutenko.crud_rest.model.MusicPlayer">
        <property name="music" ref="musicBean"/>
    </bean>

    <bean id="musicPlayerWithSetter2"
          class="org.kogutenko.crud_rest.model.MusicPlayer">
        <property name="music" ref="musicBean"/>
        
        <property name="namePlayer" value="spotify"/>
        <property name="maxVolume" value="30"/>
    </bean>

    <bean id="musicPlayerWithSetterProperties"
          class="org.kogutenko.crud_rest.model.MusicPlayer">
        <property name="music" ref="musicBean"/>

        <property name="namePlayer" value="${musicPlayer.namePlayer}"/>
        <property name="maxVolume" value="${musicPlayer.maxVolume}"/>
    </bean>
</beans>